In [1]:
# 导入相应的包
import pandas as pd
import os
import math      
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt 
import time
import warnings 
import seaborn as sns 
warnings.filterwarnings('ignore')

In [2]:
#合并数据集
if not os.path.exists('../../dataSet/GT3X-V2.8-00/T_data_time.csv') & True:
    file_name = []
    for file in tqdm(os.listdir('../../dataSet/GT3X-V2.8-00/GT3X-V2.8-00/T/')):
        if 'IDNO' in file:
            path = '../../dataSet/GT3X-V2.8-00/GT3X-V2.8-00/T/'+file 
            fr = open(path,'rb') 
            next(fr) #迭代从下一行
            t=next(fr) #从第三行读取数据           
            with open('../../dataSet/GT3X-V2.8-00/T_data_time.csv','ab') as f: 
                 for i in fr.readlines():
#                         print(str(bytes(str(i)[2:-5]+str(str(t)[25:-5].split("    "))[2:-2],encoding="utf-8")))
                        f.write(str.encode(str(i)[2:-5]+str(str(t)[25:-5].split("    "))[2:-2]+"\r\n","utf-8"))

In [3]:
# 读取数据，部分数据可能有错误行数据，删除掉
data_time=pd.read_csv("../../dataSet/GT3X-V2.8-00/T_data_time.csv",error_bad_lines=False)

b'Skipping line 2740718: expected 18 fields, saw 19\nSkipping line 2744689: expected 18 fields, saw 19\nSkipping line 2748661: expected 18 fields, saw 19\n'
b'Skipping line 2752633: expected 18 fields, saw 19\nSkipping line 2756605: expected 18 fields, saw 19\nSkipping line 2760577: expected 18 fields, saw 19\nSkipping line 2764549: expected 18 fields, saw 19\nSkipping line 2768521: expected 18 fields, saw 19\nSkipping line 2772493: expected 18 fields, saw 19\nSkipping line 2776464: expected 18 fields, saw 19\nSkipping line 2780436: expected 18 fields, saw 19\nSkipping line 2784408: expected 18 fields, saw 19\n'
b'Skipping line 2788379: expected 18 fields, saw 19\nSkipping line 2792350: expected 18 fields, saw 19\nSkipping line 2796321: expected 18 fields, saw 19\nSkipping line 2800292: expected 18 fields, saw 19\nSkipping line 2804263: expected 18 fields, saw 19\nSkipping line 2808234: expected 18 fields, saw 19\nSkipping line 2812205: expected 18 fields, saw 19\nSkipping line 2816176: expected 18 fields, saw 19\n'
b'Skipping line 2820147: expected 18 fields, saw 19\nSkipping line 2824118: expected 18 fields, saw 19\nSkipping line 2828090: expected 18 fields, saw 19\nSkipping line 2832061: expected 18 fields, saw 19\nSkipping line 2836032: expected 18 fields, saw 19\nSkipping line 2840004: expected 18 fields, saw 19\nSkipping line 2843976: expected 18 fields, saw 19\nSkipping line 2847947: expected 18 fields, saw 19\n'
b'Skipping line 2851919: expected 18 fields, saw 19\nSkipping line 2855891: expected 18 fields, saw 19\nSkipping line 2859863: expected 18 fields, saw 19\nSkipping line 2863834: expected 18 fields, saw 19\nSkipping line 2867806: expected 18 fields, saw 19\nSkipping line 2871777: expected 18 fields, saw 19\nSkipping line 2875748: expected 18 fields, saw 19\n'

In [4]:
data_time.head()

,Component ID,PAD ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Barcode,Result,Panel,Image,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',''.1,' KOHYOUNG T
0,1:C1,1,109.000,110.091,99.008,-0.002,0.005,NaN,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
1,1:C1,2,104.116,116.925,89.045,-0.006,0.005,NaN,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
2,1:C3,3,109.883,115.214,95.373,0.003,0.001,NaN,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
3,1:C3,4,114.777,119.189,96.298,0.003,0.006,NaN,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
4,1:C4,5,114.009,115.141,99.017,-0.010,0.014,NaN,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN

In [5]:
data_time.drop(["PAD ID","Barcode"],axis=1,inplace=True)

In [6]:
data_time.columns

Index(['Component ID', 'Volume(%)', 'Height(um)', 'Area(%)', 'OffsetX(mm)',
       'OffsetY(mm)', 'Result', 'Panel', 'Image',
       '  14063 2021/8/10   14:15:13  14:15:19'',
       ' '  6  GT30-V2.8-00-TOP-10'', ' ' PASS'', ' ' KohYoung'', ' ''',
       ' ''.1', ' '  KOHYOUNG T'],
      dtype='object')

In [7]:
cols=['Component ID', 'Volume(%)', 'Height(um)', 'Area(%)', 'OffsetX(mm)',
       'OffsetY(mm)', 'Result', 'Panel', 'Image',
       'DATE',
       'JOB' 'RESULT','ana1','ana2','USER LOTINFO', 'MACHINE', 'SIZE']

In [8]:
len(cols)

16

In [9]:
len(data_time.columns)

16

In [10]:
data_time.columns=['Component ID', 'Volume(%)', 'Height(um)', 'Area(%)', 'OffsetX(mm)',
       'OffsetY(mm)', 'Result', 'Panel', 'Image',
       'DATE',
       'JOB' 'RESULT','ana1','ana2','USER LOTINFO', 'MACHINE', 'SIZE']

In [11]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,USER LOTINFO,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',' KOHYOUNG T,NaN

In [12]:
data_time.shape

(8301109, 16)

In [13]:
data_time.value_counts("MACHINE")

MACHINE
 '  KOHYOUNG T    8158490
 ''                140991
dtype: int64

In [14]:
data_time["MACHINE"]="KOHYOUNG"
data_time["SIZE"]="T"

In [15]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,USER LOTINFO,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',KOHYOUNG,T
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',KOHYOUNG,T
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',KOHYOUNG,T
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',KOHYOUNG,T
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','','',KOHYOUNG,T

In [16]:
data_time.value_counts("USER LOTINFO")

USER LOTINFO
 ''    8299481
dtype: int64

In [17]:
data_time.drop("USER LOTINFO",axis=1,inplace=True)

In [18]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T

In [19]:
data_time.value_counts("Result")

Result
GOOD          8288834
E.Insuffi.       7979
Result           2041
E.Exessive        360
E.Position        217
E.Bridging         39
E.AreaL             8
E.Shape             2
E.HeightU           1
dtype: int64

In [20]:
data_time=data_time[data_time["Result"]!="Result"]

In [21]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T

In [22]:
data_time[data_time["ana2"]!= '']

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8301104,1:X1,109.346,126.694,112.199,0.006,0.001,GOOD,1,44652 2021/8/27 23:59:14 23:59:19',' 5 GT30-V2.8-00-TOP-10',' GOOD',' KohYoung','',KOHYOUNG,T
8301105,1:X1,109.792,130.359,109.489,0.002,-0.008,GOOD,1,44652 2021/8/27 23:59:14 23:59:19',' 5 GT30-V2.8-00-TOP-10',' GOOD',' KohYoung','',KOHYOUNG,T
8301106,1:X1,107.749,126.283,110.921,0.007,0.003,GOOD,1,44652 2021/8/27 23:59:14 23:59:19',' 5 GT30-V2.8-00-TOP-10',' GOOD',' KohYoung','',KOHYOUNG,T
8301107,1:X1,106.305,125.536,110.085,0.006,0.000,GOOD,1,44652 2021/8/27 23:59:14 23:59:19',' 5 GT30-V2.8-00-TOP-10',' GOOD',' KohYoung','',KOHYOUNG,T
8301108,44652 2021/8/27 23:59:14 23:59:19',' GOOD',' KohYoung','','',' KOHYOUNG T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KOHYOUNG,T

In [23]:
data_time=data_time[data_time["Component ID"].apply(lambda x:len(x))<9]

In [24]:
data_time.shape

(8297440, 15)

In [25]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',' PASS',' KohYoung','',KOHYOUNG,T

In [26]:
data_time.value_counts("JOBRESULT")

JOBRESULT
 ' GOOD'    6508160
 ' PASS'    1769180
 ' FAIL'      20100
dtype: int64

In [27]:
data_time["ana1"]=data_time["ana1"].str[2:-1]

In [28]:
data_time["JOBRESULT"]=data_time["JOBRESULT"].str[2:-1]

In [29]:
data_time.value_counts("DATE")

DATE
 '  5  GT30-V2.8-00-TOP-10'    5831930
 '  4  GT30-V2.8-00-TOP-10'    1397440
 '  5  GT30-V2.8-00-BOT-10'     746940
 '  6  GT30-V2.8-00-TOP-10'     182620
 '  4  GT30-V2.8-00-BOT-10'     122380
 '  7  GT30-V2.8-00-TOP-10'      11910
 '  6  GT30-V2.8-00-BOT-10'       4220
dtype: int64

In [32]:
data_date=data_time["DATE"].str[2:-1].str.split(" ",expand=True)

In [43]:
data_time["CYCLE"]=data_date.loc[:,2]
data_time["JOB"]=data_date.loc[:,4]

In [47]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE,CYCLE,JOB
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',' 6 GT30-V2.8-00-TOP-10',PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10

In [52]:
da_img=data_time["Image"].str[:-1].str.split(" ",expand=True)

In [53]:
da_img.head()

  0 1      2          3 4 5         6 7         8
0      14063  2021/8/10      14:15:13    14:15:19
1      14063  2021/8/10      14:15:13    14:15:19
2      14063  2021/8/10      14:15:13    14:15:19
3      14063  2021/8/10      14:15:13    14:15:19
4      14063  2021/8/10      14:15:13    14:15:19

In [54]:
data_time["BARCODE_INDEX"]=da_img.loc[:,2]
data_time["DATE"]=da_img.loc[:,3]
data_time["S_TIME"]=da_img.loc[:,6]
data_time["E.TIME"]=da_img.loc[:,8]

In [55]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19

In [62]:
data_time.to_csv("../../dataSet/T_data_time.csv",index=False)

### 合并B数据集

In [ ]:
#合并数据集
if not os.path.exists('../../dataSet/GT3X-V2.8-00/B_data_time.csv') & True:
    file_name = []
    for file in tqdm(os.listdir('../../dataSet/GT3X-V2.8-00/GT3X-V2.8-00/B/')):
        if 'IDNO' in file:
            path = '../../dataSet/GT3X-V2.8-00/GT3X-V2.8-00/B/'+file 
            fr = open(path,'rb') 
            next(fr) #迭代从下一行
            t=next(fr) #从第三行读取数据           
            with open('../../dataSet/GT3X-V2.8-00/B_data_time.csv','ab') as f: 
                 for i in fr.readlines():
#                         print(str(bytes(str(i)[2:-5]+str(str(t)[25:-5].split("    "))[2:-2],encoding="utf-8")))
                        f.write(str.encode(str(i)[2:-5]+str(str(t)[25:-5].split("    "))[2:-2]+"\r\n","utf-8"))

 91%|██████████████████████████████████████████████████████████████████████▉       | 1414/1554 [01:26<00:13, 10.10it/s]

In [39]:
data_time=pd.read_csv("../../dataSet/GT3X-V2.8-00/B_data_time.csv",error_bad_lines=False)

In [40]:
data_time.columns

Index(['Component ID', 'PAD ID', 'Volume(%)', 'Height(um)', 'Area(%)',
       'OffsetX(mm)', 'OffsetY(mm)', 'Barcode', 'Result', 'Panel',
       'Image  13611 2021/8/10   05:46:14  05:46:20'',
       ' '  6  GT30-V2.8-00-BOT-10'', ' ' PASS'', ' ' KohYoung'', ' ''',
       ' ''.1', ' '  KOHYOUNG T', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],
      dtype='object')

In [41]:
data_time.head()

,Component ID,PAD ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Barcode,Result,Panel,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1:C2,1,98.832,106.662,92.66,0.005,0,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1:C2,2,95.402,100.189,95.222,0,0,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1:C10,3,103.047,111.748,92.214,-0.011,0.007,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1:C10,4,105.5,117.418,89.85,0,0.007,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1:C11,5,103.741,117.714,88.129,-0.008,-0.006,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
 data_time.drop(['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19','Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23','Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26'],axis=1,inplace=True)

KeyError: "['Unnamed: 17' 'Unnamed: 18' 'Unnamed: 19' 'Unnamed: 20' 'Unnamed: 21'\n 'Unnamed: 22' 'Unnamed: 23' 'Unnamed: 24' 'Unnamed: 25' 'Unnamed: 26'] not found in axis"

In [50]:
data_time.head()

,Component ID,PAD ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Barcode,Result,Panel,Image 13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','',''.1,' KOHYOUNG T
0,1:C2,1,98.832,106.662,92.66,0.005,0,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
1,1:C2,2,95.402,100.189,95.222,0,0,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
2,1:C10,3,103.047,111.748,92.214,-0.011,0.007,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
3,1:C10,4,105.5,117.418,89.85,0,0.007,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
4,1:C11,5,103.741,117.714,88.129,-0.008,-0.006,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T

In [51]:
len(data_time.columns)

17

In [52]:
data_time.columns=['Component ID', "PAD_ID",'Volume(%)', 'Height(um)', 'Area(%)', 'OffsetX(mm)',
       'OffsetY(mm)', 'Barcode','Result', 'Panel', 'Image',
       'DATE',
       'JOB' 'RESULT','ana1','USER LOTINFO', 'MACHINE', 'SIZE']

In [53]:
data_time.head()

,Component ID,PAD_ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Barcode,Result,Panel,Image,DATE,JOBRESULT,ana1,USER LOTINFO,MACHINE,SIZE
0,1:C2,1,98.832,106.662,92.66,0.005,0,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
1,1:C2,2,95.402,100.189,95.222,0,0,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
2,1:C10,3,103.047,111.748,92.214,-0.011,0.007,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
3,1:C10,4,105.5,117.418,89.85,0,0.007,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
4,1:C11,5,103.741,117.714,88.129,-0.008,-0.006,NaN,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T

In [54]:
data_time.value_counts("Result")

Result
GOOD          6556479
Result           1553
E.Insuffi.       1366
E.Position         21
E.Bridging          8
E.HeightU           3
E.AreaL             1
E.Exessive          1
E.Shape             1
dtype: int64

In [55]:
data_time.drop(["PAD_ID","Barcode"],axis=1,inplace=True)
data_time=data_time[data_time["Result"]!="Result"]
data_time=data_time[data_time["Component ID"].apply(lambda x:len(x))<9]

In [56]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,USER LOTINFO,MACHINE,SIZE
0,1:C2,98.832,106.662,92.66,0.005,0,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
1,1:C2,95.402,100.189,95.222,0,0,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
2,1:C10,103.047,111.748,92.214,-0.011,0.007,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
3,1:C10,105.5,117.418,89.85,0,0.007,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T
4,1:C11,103.741,117.714,88.129,-0.008,-0.006,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',' 6 GT30-V2.8-00-BOT-10',' PASS',' KohYoung','','',' KOHYOUNG T

In [57]:
data_date=data_time["DATE"].str[2:-1].str.split(" ",expand=True)

In [58]:
data_date.head()

  0 1  2 3                    4
0      6    GT30-V2.8-00-BOT-10
1      6    GT30-V2.8-00-BOT-10
2      6    GT30-V2.8-00-BOT-10
3      6    GT30-V2.8-00-BOT-10
4      6    GT30-V2.8-00-BOT-10

In [59]:
data_time["CYCLE"]=data_date.loc[:,2]
data_time["JOB"]=data_date.loc[:,4]
da_img=data_time["Image"].str[:-1].str.split(" ",expand=True)
data_time["BARCODE_INDEX"]=da_img.loc[:,2]
data_time["DATE"]=da_img.loc[:,3]
data_time["S_TIME"]=da_img.loc[:,6]
data_time["E.TIME"]=da_img.loc[:,8]

In [60]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,USER LOTINFO,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C2,98.832,106.662,92.66,0.005,0,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',2021/8/10,' PASS',' KohYoung','','',' KOHYOUNG T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
1,1:C2,95.402,100.189,95.222,0,0,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',2021/8/10,' PASS',' KohYoung','','',' KOHYOUNG T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
2,1:C10,103.047,111.748,92.214,-0.011,0.007,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',2021/8/10,' PASS',' KohYoung','','',' KOHYOUNG T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
3,1:C10,105.5,117.418,89.85,0,0.007,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',2021/8/10,' PASS',' KohYoung','','',' KOHYOUNG T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
4,1:C11,103.741,117.714,88.129,-0.008,-0.006,GOOD,1,13611 2021/8/10 05:46:14 05:46:20',2021/8/10,' PASS',' KohYoung','','',' KOHYOUNG T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20

In [69]:
data_time.value_counts("JOBRESULT")

JOBRESULT
 GOOD    5663240
 PASS     835560
 FAIL      59080
dtype: int64

In [62]:
data_time["MACHINE"]="KOHYOUNG"
data_time["SIZE"]="T"

In [67]:
data_time["USER LOTINFO"]="KohYoung"

In [68]:
data_time["JOBRESULT"]=data_time["JOBRESULT"].str[2:-1]

##### data_time.head()

In [71]:
data_time.drop(["Image","ana1"],axis=1,inplace=True)

In [72]:
data_time.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,DATE,JOBRESULT,USER LOTINFO,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C2,98.832,106.662,92.66,0.005,0,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
1,1:C2,95.402,100.189,95.222,0,0,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
2,1:C10,103.047,111.748,92.214,-0.011,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
3,1:C10,105.5,117.418,89.85,0,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
4,1:C11,103.741,117.714,88.129,-0.008,-0.006,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20

In [73]:
data_time.to_csv("../../dataSet/B_data_time.csv",index=False)

In [74]:
data_time.value_counts("JOB")

JOB
GT30-V2.8-00-BOT-10    6557880
dtype: int64

In [76]:
data_time.value_counts("JOBRESULT")

JOBRESULT
 GOOD    5663240
 PASS     835560
 FAIL      59080
dtype: int64

In [77]:
data_time.value_counts("Panel")

Panel
1     655788
10    655788
2     655788
3     655788
4     655788
5     655788
6     655788
7     655788
8     655788
9     655788
dtype: int64

In [85]:
data_time.value_counts("CYCLE")

CYCLE
5    5346740
4    1088760
6     101280
7      21100
dtype: int64

In [80]:
data_time.value_counts("BARCODE_INDEX")

BARCODE_INDEX
13611    4220
43664    4220
43686    4220
43685    4220
43684    4220
         ...
36928    4220
36927    4220
36926    4220
36925    4220
44197    4220
Length: 1554, dtype: int64

In [81]:
data_time.value_counts("DATE")

DATE
2021/8/27    2569980
2021/8/24    2084680
2021/8/10    1903220
dtype: int64

In [82]:
data_time.value_counts("JOBRESULT")

JOBRESULT
 GOOD    5663240
 PASS     835560
 FAIL      59080
dtype: int64

In [83]:
data_time.value_counts("S_TIME")

S_TIME
10:00:16    12660
11:30:15     8440
10:47:29     8440
10:28:06     8440
10:17:13     8440
            ...
10:08:00     4220
10:07:50     4220
10:07:45     4220
10:07:23     4220
15:38:53     4220
Length: 1525, dtype: int64

In [84]:
data_time.value_counts("Component ID")

Component ID
1:D6     2377620
1:D5     2237760
1:D8      186480
1:D9      124320
1:D4       77700
1:Q2       62160
1:VT4      46620
1:VT3      46620
1:R46      31080
1:R45      31080
1:R30      31080
1:R31      31080
1:R32      31080
1:R33      31080
1:R34      31080
1:R35      31080
1:R36      31080
1:R4       31080
1:R40      31080
1:VD7      31080
1:R50      31080
1:R49      31080
1:R28      31080
1:R48      31080
1:R41      31080
1:R42      31080
1:R43      31080
1:R44      31080
1:R29      31080
1:C10      31080
1:R27      31080
1:C55      31080
1:C12      31080
1:C13      31080
1:C18      31080
1:C2       31080
1:C20      31080
1:C25      31080
1:C43      31080
1:C50      31080
1:C51      31080
1:C56      31080
1:R26      31080
1:L7       31080
1:Q1       31080
1:R14      31080
1:R15      31080
1:R16      31080
1:R18      31080
1:R2       31080
1:C11      31080
1:R25      31080
1:R24      31080
dtype: int64